* {
    --text-highlight-bg: hsla(var(--accent-h), var(--accent-s), var(--accent-l), .4);

    --background-primary: #;
}

.nav-folder.mod-root > .nav-folder-title {
	-webkit-text-fill-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
	padding-left: 0;
}

.inline-title {
    text-align: center;
}

.inline-title::after {
    content: '';
    width: 100%;
    height: 2px;
    background: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    border-radius: 5px;
    display: block;
    margin: 1%;
}

h1,
span.cm-header-1 {
    background: -webkit-linear-gradient(45deg, hsl(var(--accent-h), var(--accent-s), var(--accent-l)),
            hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2,
span.cm-header-2 {
    background: -webkit-linear-gradient(45deg, hsl(calc(var(--accent-h) + 5), var(--accent-s), var(--accent-l)),
            hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3,
span.cm-header-3 {
    background: -webkit-linear-gradient(45deg, hsl(calc(var(--accent-h) + 10), var(--accent-s), var(--accent-l)),
            hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4,
span.cm-header-4 {
    background: -webkit-linear-gradient(45deg, hsl(calc(var(--accent-h) + 15), var(--accent-s), var(--accent-l)),
            hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5,
span.cm-header-5 {
    background: -webkit-linear-gradient(45deg, hsl(calc(var(--accent-h) + 20), var(--accent-s), var(--accent-l)),
            hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h6,
span.cm-header-6 {
    background: -webkit-linear-gradient(45deg, hsl(calc(var(--accent-h) + 25), var(--accent-s), var(--accent-l)),
            hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 20%)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#calendar-container span.month {
    -webkit-text-fill-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

#calendar-container span.year {
    -webkit-text-fill-color: var(--text-normal);
}